.lista-card{
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap:12px;
    justify-content: center;

}
   
.card{
    border: 2px solid #f0064c;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 12px;
    border-radius: 58%;
    align-items: center;
}
 .h1{font-size: 60px;
    text-align: center;
    color: #f0064c;
    font-family:"Bodoni MT Black" ;

 }
 .imagem{
    width:590; 
    height:590;
    border: 2px solid #f0064c; 
    border-radius: 70%;

 }
 .barra{
    background-color: #bd4a6d;

 }
 .barra2{
    background-color: #bd4a6d;
    height: 50px;

 }
body{ background-color: rgba(241, 210, 210, 0.952) ;
}


