.lista-card{
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap:12px;
    justify-content: center;

}
   
.card{
    border: 4px solid #f3064d;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 40px;
    width: 280px;
    height: 270px;
    border-radius: 50%;
    align-items: center;
}
 .h1{font-size: 60px;
    text-align: center;
    color: #f0064c;
    font-family:"Bodoni MT Black" ;
    background-color: rgb(94, 167, 216);
    padding: 54px;

 }
 .imagem{
    width:270px; 
    height:280px;
    border: 4px solid #0663ee; 
    border-radius: 50%;

 }
 .barra{
    background-color: #bd4a6d;

 }
 .barra2{
    background-color: #bd4a6d;
    height: 50px;

 }
body{ background-color: rgba(241, 210, 210, 0.952) ;
}
.sorvete-img{
   width: 250px ;height: 250px;
}
.contato{
   width: 180px ; height: 80px;
}
.tam{
   display: flex;
   margin: auto;
   width: 800px; height: 250px;
}
.detalhes{
   display: flex;
}
.detalhes1{
   flex-direction: column;
   
}
.detalhes2{
   flex-direction: row;
   
}
.bt{
   height: fit-content;
   width: fit-content;
}

